<footer class="footer">
  <section class="footer-social">
  </section>
  <section class="footer-content">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col footer-col-center">
          <h6 class="footer-title">
            <i class="fas fa-gem"></i>IronPeaks
          </h6>
          <p class="footer-text">
            Tu E-Commerce de confianza para productos de calidad.
          </p>
        </div>

        <div class="footer-col footer-col-center">
          <h6 class="footer-title">
            Navega
          </h6>
          <p class="footer-text">
            <a href="/products-list" class="footer-link">Productos</a>
          </p>
          <p class="footer-text">
            <a href="/orders-retrieve-client" class="footer-link">Mis pedidos</a>
          </p>
          <p class="footer-text">
            <a href="/institucional-contacto" class="footer-link">Contacto</a>
          </p>          
          <p class="footer-text">
            <a href="/institucional-quienes-somos" class="footer-link">Quienes somos</a>
          </p>
        </div>

        <div class="footer-col footer-col-center">
          <h6 class="footer-title">Contacto</h6>
          <p class="footer-text footer-contact">
            <i class="fas fa-home"></i> Address 1234 - Rosario, Santa Fe
          </p>
          <p class="footer-text footer-contact">
            <i class="fas fa-envelope"></i>
            ironpeakstech&#64;gmail.com
          </p>
          <p class="footer-text footer-contact">
            <i class="fas fa-phone"></i> +54 341 1111111
          </p>
        </div>

        <div class="footer-col footer-col-center">
          <h6 class="footer-title">Seguinos</h6>
          <div class="footer-social-links">
            <a href="https://www.linkedin.com/in/simon-p%C3%A9rez-fontela-3b8781381/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.linkedin.com/in/pablo-cravero-793b85387/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/Simon-PF2003/Back_Proyecto" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://github.com/Simon-PF2003/Front_Proyecto" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="footer-copyright">
    © 2025 Copyright<a href="">IronPeaks Tech</a>. Todos los derechos reservados.
  </div>
</footer>
