<app-nav-var></app-nav-var>
<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="search" class="form-label">Buscar por CUIT o razón social:</label>
      <input type="text" id="search" class="form-control" [(ngModel)]="cuit" (keyup.enter)="onBuscarClick()" placeholder="Ingrese CUIT o razón social">
    </div>
    <div class="col-md-4 align-self-end">
      <button class="btn btn-primary" (click)="onBuscarClick()">Buscar</button>
    </div>
    <div class="col-md-4 align-self-end">
      <button class="btn btn-success" (click)="agregarCliente()">Agregar Cliente</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let client of clientes">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Razón Social: {{ client.businessName }}</h5>
          <p class="card-text">CUIT: {{ client.cuit }}</p>
          <p class="card-text">Email: {{ client.email }}</p>
          <p class="card-text">Dirección: {{ client.address }}</p>
          <p class="card-text">Estado: {{ client.status }}</p>
          <p class="card-text">Teléfono: {{ client.phoneNumber }}</p>
          <p class="card-text">Rol: {{ client.role }}</p>
          <div class="d-flex justify-content-between mt-2">
            <button class="btn btn-warning" (click)="modificarCliente(client)">Modificar</button>
            <button class="btn btn-danger" (click)="deleteClient(client._id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
