<div class="card">
  <img class="card-img-top" [src]="'http://localhost:3000/' + product.image" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.desc }}</h5>
    <!-- <p class="card-text">{{ product.desc }}</p> -->
    <p class="card-text">Marca: {{ product.brand?.brand || 'Sin marca' }}</p>
    <p class="card-text">Categoría: {{ product.cat?.type || 'Sin categoría' }}</p>
    <div *ngIf="discountPercentage === 0">
      <p class="card-price mb-1">{{ product.price | currency }}</p>
      <p class="text-danger mb-1" *ngIf="product.stock === 0"><small>🔴 Agotado</small></p>
    </div>

    <div *ngIf="discountPercentage > 0">
      <p class="card-text text-danger mb-2"><small><del>{{ product.price | currency }}</del></small></p>
      <p class="card-price mb-2"><strong>{{ product.price * (1 - (discountPercentage)) | currency }}</strong></p>
      <p class="text-danger mb-2" *ngIf="product.stock === 0"><small>🔴 Agotado</small></p>
    </div>
    <button class="btn btn-primary" style="font-family: BlinkMacSystemFont, 'Segoe UI'; border: none; width: 100%;" (click)="comprar()"> Comprar</button>
  </div>