.product-card {
    display: flex;
    flex-direction: column;
  }
  
  .product-card .card {
    background-color: #F8F4EC;
  }
  
  .product-card .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .product-card .card-title {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    min-height: 2.4em; 
  }

  .product-card .card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-card .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .product-card .text-danger {
    font-size: small;
  }

.no-underline {
  text-decoration: none;
}