<div class="dropdown">
  <a class="btn btn-light dropdown-toggle styles" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Categorías
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="color: #000000;">
   <!-- <li><a class="dropdown-item cursor-pointer" (click)="selectCategory('Destacados')">Destacados</a></li>-->
   <li><a class="dropdown-item cursor-pointer" (click)="selectCategory('Todos')">Todos</a></li>
   <li><a class="dropdown-item cursor-pointer" (click)="selectCategory('Perifericos')">Periféricos</a></li>
   <li><a class="dropdown-item cursor-pointer" (click)="selectCategory('Componentes')">Componentes</a></li>
   <li><a class="dropdown-item cursor-pointer" (click)="selectCategory('Impresoras')">Impresoras</a></li>
  </ul>
</div>