<header>
<a href="#">
    <img class="logo" src="\assets\prodBase.png" alt="logo">
</a>
<button class="abrir-menu" (click)="toggleNav()">
    <img class="hamburguesa" src="\assets\Hamburguesa.png" alt="Abrir" />
</button>
<nav class="nav" id="nav" [class.visible]="isNavOpen">
    <button type="button" class="close btn-outline-dark close" aria-label="Cerrar" (click)="toggleNav()">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="nav-list">
        <li>
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li>
            <a class="nav-link active" aria-current="page" href="/products-list">Productos</a>
        </li>
        <li>
            <a class="nav-link active position-relative" *ngIf="isUserRoleDefined() && userRole === 'Administrador'" aria-current="page"
            href="/admin-panel">
                Admin Panel
                <i *ngIf="pendingUsersCount > 0" class="fa-solid fa-triangle-exclamation position-absolute notification-triangle" style="color: #dc3545;"></i>
                <i *ngIf="lowStockProductsCount > 0" class="fa-solid fa-triangle-exclamation position-absolute notification-triangle-lowstock" style="color: #ffbb00;"></i>
            </a>
        </li>
        <li>
            <a class="nav-link active" href="/institucional-contacto">Contacto</a>
        </li>
        <li>
            <app-down-comp *ngIf="isEditProductsRoute() || isProductCategoryRoute() || isChargeStockRoute()"></app-down-comp>
        </li>
        <li class="col-auto search-container" *ngIf="shouldShowProductSearch()">
            <div class="search-group">
                <input class="busqueda form-control" type="text" id="searchProduct" [(ngModel)]="searchTerm" (keyup.enter)="searchProducts()"
                    placeholder="Buscar producto">
                <form class="form-inline" role="search">
                    <button class="lupa btn-light d-flex align-items-center" type="submit" (click)="searchProducts()">
                        <i class="lupita fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                    </button>
                </form>
            </div>
        </li>
        <li class="col-auto search-container"
            *ngIf="isOrdersRoute()">
            <div class="search-group">
                <input class="busqueda form-control" type="text" id="searchProduct" [(ngModel)]="searchTerm"
                    (keyup.enter)="searchOrders()" placeholder="Buscar pedido por cliente">
                <form class="form-inline" role="search">
                    <button class="lupa btn-light d-flex align-items-center" type="submit" (click)="searchOrders()">
                        <i class="lupita fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                    </button>
                </form>
            </div>
        </li>
        <li>
            <button class="cart-btn btn-light d-flex align-items-center" routerLink="/cart">
                <i class="fa-solid fa-cart-shopping fa-bounce" style="color: #000000;"></i>
                <span class="number badge rounded-pill" style="background-color: #4ca7bf;">{{ productsInCart }}</span>
            </button>
        </li>
        <li>
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" aria-current="page" routerLink="/login">
                        <i class="fa-solid fa-user-astronaut" style="color: #000000;"></i>
                    </a>
                </li>
            </ng-container>
            <ng-template #loggedIn>
                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" aria-current="page" routerLink="/user-profile">
                        <i class="astronaut fa-solid fa-user-astronaut" style="color: #000000;"></i>
                    </a>
                </li>
            </ng-template>
        </li>
    </ul>                   
</nav>
</header>