@media (max-width: 1200px){ 
    .botonNormal {
        flex: 0 0 100%;
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px; 
    } 
    .botonLargo {
        flex: 0 0 100%;
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;  
    }
    .pannelBttn {
        text-align: center;
    } 
    .divPannel {
        flex-direction: column;
    }
}

.btn-info {
  background-color: blueviolet;
  border: blueviolet;
  color: azure;
}

@media (min-width: 1201px){ 

.botonNormal {
    width: 250px;
} 
.botonLargo {
    width: 519px;
}
.pannelBttn {
    flex: 0 0 50%; 
    max-width: 50%;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
} 
.divPannel {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
}

.notification-badge-admin {
  font-size: 11px;
  font-weight: bold;
  min-width: 18px;
  height: 18px;
  line-height: 1px;
  animation: pulse 2s infinite;
  z-index: 10;
  transform: translate(-25%, -50%) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}